/* Elements */

* {
  box-sizing: border-box;
}

html {
  color: #646464;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 18px;
}

body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  line-height: 1.5;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 54px;
  font-weight: bold;
}

p {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

a {
  color: #1098c8;
}

img {
  display: flex;
  justify-content: center;
  max-width: 70%;
  height: auto;
}

/* Layout */

.wrapper {
  display: flex;
  align-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

/* Content Area */

.content {
  color: #646464;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
  width: 100%;
}

.content h1 a {
  color: #646464;
  text-decoration: none;
}

.banner-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
  order: 1;
}

.banner-image {
  display: flex;
  justify-content: center;
  order: 0;
}

.actions li {
  display: inline-block;
  margin-bottom: 18px;
}

.cta {
  background-color: #f4f4f4;
  border: 3px solid #646464;
  border-radius: 10px;
  color: #646464;
  cursor: pointer;
  font-size: 15px;
  padding: 9px 27px;
  text-decoration: none;
}

.cta.special {
  background-color: #1098c8;
  border-color: #1098c8;
  color: #fff;
}

.cta i {
  margin-right: 9px;
}

.credit {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  text-align: center;
}

/* Breakpoints */

/* Add your breakpoints here... */
@media screen and (min-width: 480px) {
  body {
  }
}

@media screen and (min-width: 720px) {
  body {
  }
}
